body {
  max-width: 1200px;
  margin: auto;
}
img {
  max-width: 100%;
}
.hero {
  background-color: #eee;
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.hero_text h1 {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 2.5px;
}
.hero_text p {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2.5px;
}
.hero_image img {
  height: 70vh;
}

.statistics {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.statistics .box {
  background-color: #eee;
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.statistics .box p {
  font-size: 6rem;
  font-weight: bold;
}
.elo {
  margin-right: 1rem;
}
.games {
  margin-left: 1rem;
}
.latest_posts_wrapper {
  background-color: #eee;
  padding-top: 2rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
.latest_posts_wrapper h2 {
  text-align: center;
  
  padding-bottom: 3rem;

  font-size: 2rem;
}
.latest_posts {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.post {
  display: flex;
  height: 6rem;
  gap: 2rem;
  padding-right: 2rem;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 400px;
  max-width: 650px;
  box-shadow: 1px 1px 15px black;
  overflow: hidden;
  border-radius: 10px;
}
.post:hover {
  scale: 99%;
  box-shadow: 1px 1px 5px black;
}
.post img {
  display: block;
  height: 100%;
}
.post h3, .post h4 {
  color: #333;
}
