body {
  max-width: 1200px;
  margin: auto;
}
img{
  max-width: 100%;
}
.hero {
  background-color: #eee;
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.hero_text h1 {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 2.5px;
}
.hero_text p {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2.5px;
}
.hero_image img {
  height: 70vh;
}

.statistics {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.statistics .box {
  background-color: #eee;
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.statistics .box p {
  font-size: 6rem;
  font-weight: bold;
}
.elo {
  margin-right: 1rem;
}
.games {
  margin-left: 1rem;
}
.latest_posts_wrapper{
background-color: #eee;
  width: 100%;
}
.latest_posts_wrapper h2{
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
  font-size: 2rem;
}
.latest_posts {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  }
.post {
  position: relative;
  max-width: 300px;
  border-radius: 5px 5px 3rem 5px;
  box-shadow: 3px 3px 30px black;
  overflow: hidden;
}
.post img{
  display: block;
  border-radius: 5px 5px 3rem 5px;
}
.post:hover{
  scale: 99%;
  box-shadow: 2px 2px 10px black;
}

.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
  color: white;
}

.text-overlay h3,
.text-overlay h4 {
  margin: 0.5rem;
}