main {
  max-width: 1200px;
}

.main_navigation nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: #777;
  margin-bottom: 3rem;
}
.main_navigation nav .logo {
  font-weight: bold;
  font-size: 2rem;
  color: red;
  letter-spacing: 3px;
  color: white;
}
.main_navigation nav .menu svg {
  width: 5rem;
  stroke-width: 10;
  stroke: white;
  stroke-linecap: round;
  cursor: pointer;
}
.game_section {
  padding: 1rem;
}
.game {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.game p {
  flex: 1;
  text-align: justify;
  line-height: 1.8rem;
  color: #666;
}

.game_description {
  padding-top: 2rem;
  line-height: 1.8rem;
}

h1,
h2,
p {
  margin-bottom: 1rem;
  text-align: justify;
}

.move_number {
  font-weight: bold;
}

.suggested_content{
    padding-top: 5rem;
    margin: 1rem;
    width: 100%;
}.suggested_content div{
    display: flex;
    justify-content: space-evenly;
}

.suggested_content .suggested{
    height: 15rem;
    width: 15rem;
    border: solid 5px black;
}

@media screen and (max-width: 1000px) {
  .game {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .game iframe {
    max-width: 100%;
  }
}
