main {
  max-width: 1100px;
}

.main_navigation nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 1rem 2rem 1rem;
}
.main_navigation nav .logo {
  font-weight: bold;
  font-size: 2rem;
  color: red;
  letter-spacing: 3px;
}
.main_navigation nav .menu svg {
  width: 5rem;
  stroke-width:10;
  stroke:red;
  stroke-linecap: round;
  cursor: pointer;
}

.game {
  display: flex;
  justify-content: space-between;
}

.game iframe {
  flex: 1;
}

.game p {
  flex: 1;
  text-align: justify;
  line-height: 1.8rem;
}

.game_description {
  padding-top: 2rem;
  line-height: 1.8rem;
}

.game_description p,
h2 {
  margin-bottom: 1rem;
  text-align: justify;
}

.move_number {
  font-weight: bold;
}
