* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero {
  max-width: 1200px;
  background-color: #eee;
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.hero_text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 1.8px;
}
.hero_text p {
  font-size: 1.5rem;
}
.hero_image img {
  height: 70vh;
}
