@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../assets/roboto/Roboto-VariableFont_wdth\,wght.ttf")
    format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero {
  max-width: 1200px;
  background-color: #eee;
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.hero_text h1 {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 2.5px;
}
.hero_text p {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2.5px;
}
.hero_image img {
  height: 70vh;
}
