@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../assets/roboto/Roboto-VariableFont_wdth\,wght.ttf")
    format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
   text-decoration: none;
   list-style: none;
}
