name: Weekly Lichess Data Fetch

on:
  push:
    branches: ["main"]
  schedule:
    # 21:00 UTC Thursday is 08:00 AM Friday Sydney (AEST/AEDT)
    - cron: "0 21 * * 4"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run script
        run: python statistics.py
